<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="description" content="Show the temperature live and alerts when temperature is out of normal parameters. Also, shows a graph that indicates the average of temperature within one month."/>
</head>
<body>
@if (Session["UserID"] == null)
{
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href=@Url.Action("Login", "Customer")>MoneyHeat</a>
            </div>
            <ul class="nav navbar-nav">
                @* <li ">@Html.ActionLink("Login", "Login", "Customer")</li>*@


                <li>@Html.ActionLink("Register", "Register", "Customer")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
}
else
{
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MoneyHeat</a>
            </div>
            <ul class="nav navbar-nav">
                @* <li ">@Html.ActionLink("Login", "Login", "Customer")</li>


    <li>@Html.ActionLink("Register", "Register", "Customer")</li>*@
                <li><a target="_blank" href="@Url.Content("~/ASPXpage/Chart.aspx")">Average Chart</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
}


@*
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
            <li>@Html.ActionLink("Login", "Login", "Customer")</li>
            <li>@Html.ActionLink("Register", "Register", "Customer")</li>

        </ul>
       

    </div>
    
    </div>
</div>
*@
<div class="container body-content">
    @RenderBody()

    <footer>

    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("Scripts", true)
</body>
</html>