@{
    ViewBag.Title = "Loggedin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>
<body>
<div class="lol">

    @if (Session["UserID"] != null)
    {
        <div class="userLoggedIn">
            <h2> @Session["Username"].ToString()</h2>
        </div>
        <div class="WholePage">
            @if (ViewBag.DeviceOff == false)
            {
                <div id="badge2">

                    <div id="badge" class="badge badge-success">

                        <h1 id="badge1" class="badgeDeviceOff">@ViewBag.DailyTempOff</h1>
                    </div>
                </div>
            }
            else
            {
                <div id="badge2">
                    @Html.Partial("tableDanger")
                    <div id="badge" class="badge badge-success">

                        <h1 id="badge1">@ViewBag.DailyTemp</h1>
                    </div>
                </div>
                <div id="btnChart">
                    <a target="_blank" href="@Url.Content("~/ASPXpage/Chart.aspx")">
                        <button>Chart</button>
                    </a>

                </div>
            }

        </div>
    }
</div>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/Content/JavaScript")
}