@model TemperatureV1._0.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loginHeader">
    <h2>Login</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "alert alert-danger"})


        <div class="form-group">
            <div class="LblUname">@Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2 testName"})</div>

            <div class="col-md-10">
                <div class="uNametxt">
                    @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="lblPass">@Html.LabelFor(model => model.Password, new {@class = "control-label col-md-2"})</div>

            <div class="col-md-10">
                <div class="txtPass">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>

            </div>
        </div>


        <div class="form-group" style="margin: 0 auto;
                                      position: relative;
                                      right: 210px;">
            <div class="col-md-offset-2 col-md-10">
                <div class="divbtnLogin">
                    <input type="submit" value="Login" onclick="loading()" class="btn btn-success btnLogin"/>
                   
                </div>


            </div>
           

        </div>

       
        
    </div>
    <div id="loader" style="display: none;">
        <img src="~/Content/img/Spinner-1s-200px.gif" alt="Loading" />
    </div>
   

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/css")

}
<style>
    #loader {
       
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        
    }
    #loader img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
</style>
<script>
    $('.btnLogin').click(function () {
        $('#loader').css({
            'display': 'block'
            
            
        });



        $('body').css({
            'opacity': '0.5',
            'filter' : 'alpha(opacity=10)'
        });
    });
</script>

